/* navbar ------------------------------------------------------------------*/

.navbar-back-color{
    height:70px;
    width:100%;
}
.main-navbar{
    width:85%;
    margin:0% 7.5%;
}

.c-name{
    color:#e91e63;
}
.nav-link{
    margin-left:5px;
}
.right-align-nav{
    right:0% ;
}
.style-border{
    height:0px;
}
.width-1{
    width:60px;
    margin-left:6px;
}
.width-2{
    width:70px;
    margin-left:7px;
}
.width-3{
    width:41px;
    margin-left:9px;
}
.width-4{
    width:90px;
    margin-left:10px;
}
.style-hover:hover .style-border{
   height:5px;
}

@media (max-width:991px)
{
.style-border{
   display:none;
}
.nav-link{
    margin-left:20px !important;
}
.right-align-nav{
    position: relative;
}
}

@media (max-width:350px){
    .c-name{
        font-size: 30px;
    }
}