/* carousel */

.prev-next>a>span{
    background-color: gray;
    border:4px solid white;
    height:30px;
    width:30px;
}
.carousel:hover .prev-next{
  display:block;
  transition: .9s;
}
.text-carousel{
    display:block;
    bottom:150px;
}
.carousel-item>img{
    object-fit: cover;
    height:550px;
}
.carousel-indicators{
    padding-bottom: 50px;
    z-index:1;
}
.btn-style{
    font-size: 15px;
    padding:12px 40px;
    margin-top:20px;
}
.btn-slide2{
    background-color:none;
}
.prev-next{
    display:none; 
}

@media (min-width:770px){
    .text-carousel{
        bottom:230px;
    }
    .carousel-item>img{
       height:680px;
    }
}

@media (max-width:500px)
{   .text-carousel{
      top:100px;
}
    .text-carousel>h1{
        font-size: 25px;
    }
    .btn-style{
        font-size: 10px !important;
        padding:8px 20px;
    }
    .btn-slide1{
        margin-top:5px;
    }
    .carousel-item>img{
        height: 450px;
    }
    .carousel-indicators{
    bottom: 23px;
    }
}
