.footer{
    margin-top: 40px;
    padding: 30px 5%;
    background-color: #212121;
}
.footer .row{
    margin: 0;
}
.footer-col{
    margin-bottom: 40px;
}
.footer ul{
    padding-inline-start: 0;
}
.footer li{
    list-style: none;
}
.footer  a{
    text-decoration: none;
}
.footer p{
    font-size: 0.9rem;
}
.footer h4{
    font-size: 20px;
}
.recent-post{
display: flex;
margin-bottom: 20px;
}
.recent-post img{
    width: 75px;
    height: 50px;
}
.recent-post p{
    margin: 0;
    padding-left: 20px;
}
.footer input{
    padding: 2px 10px;
}
.footer button{
    outline: none;
    border: none;
    padding: 4px 10px;
}
.footer-form{
    display: flex;
}
.follow-us{
    margin-top: 25px;
}
.footer-icon i{
    transition: 0.4s;
    font-size: 2.5rem;
    margin-right: 5px;
}
.footer a:hover{
    color: #e91e63 !important;
}
.fb:hover{
    color: #3b5998;
}
.twitter:hover{
    color: #1DA1F2;
}
.linkedin:hover{
    color: #ab1a32;
}
.insta:hover{
    color: #5851DB;
}
